upload-targets:
  - name: <upload target>
    method: rsync
    # these will be passed to rsync as
	# <username>@<host>:<dir>/<location>/<of>/<repository>
	user: <username>
    dir: /var/www/html

branches:
  - name: root/master
    signing-key: d167aca2e5fcf374
  - name: <host>/<location>/<of>/<repository>
    signing-key: <signing key>
    upload-target: <upload target>
