Source: homeworld-prometheus
Section: misc
Priority: extra
Maintainer: Cel Skeggs <cela@mit.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.1
Vcs-Git: https://github.com/sipb/homeworld.git
Vcs-Browser: https://github.com/sipb/homeworld/

Package: homeworld-prometheus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Homeworld prometheus package.
 This package is used for code deployment to Homeworld clusters.
