[Unit]
Description=Homeworld Keyclient
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/keyclient /etc/homeworld/config/keyclient.yaml
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
