[Unit]
Description=Hyades admission server
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/hyadmit
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
