[Unit]
Description=homeworld hostname and ca-certificates update
Requisite=keyclient.service
After=keyclient.service

[Service]
Type=oneshot
ExecStart=/usr/lib/homeworld/update-host.sh
Restart=no

[Install]
WantedBy=multi-user.target
