[Unit]
Description=Kubernetes State Metrics Exporter
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/lib/hyades/launch-kube-state-metrics.sh
KillMode=mixed
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
