[Unit]
Description=Kubernetes State Metrics Exporter
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/kube-state-metrics-launch
KillMode=mixed
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
