[Unit]
Description=Homeworld Keyserver
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/keyserver /etc/homeworld/config/keyserver.yaml
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
