[Unit]
Description=aci pull monitor
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
ExecStart=/usr/lib/homeworld/launch-aci-pull-monitor.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
