[Unit]
Description=etcd metrics exporter
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
ExecStart=/usr/lib/hyades/launch-etcd-metrics-exporter.sh
Restart=always

[Install]
WantedBy=multi-user.target
