[Unit]
Description=Hyades Kubelet service
Requires=network-online.target rkt-api.service
After=network-online.target rkt-api.service

[Service]
ExecStart=/usr/lib/hyades/launch-kubelet.sh
Restart=always

[Install]
WantedBy=multi-user.target
