[Unit]
Description=Hyades Kubernetes Scheduler
Requires=network-online.target
After=network-online.target kubelet.service

[Service]
ExecStart=/usr/lib/hyades/launch-scheduler.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
