branches:
  - name: ci
    signing-key: d167aca2e5fcf374
    download: no_download
  - name: example-name
    signing-key: <signing key>
    download: http://<bucket>.storage.googleapis.com/<location>/<of>/<branch>
    upload:
      method: google-cloud-storage
      gcs-target: gs://<bucket>/<location>/<of>/<branch>
  - name: another-example-name
    signing-key: <signing key>
    download: http://<host>/<location>/<of>/<branch>
    upload:
      method: rsync
      rsync-target: <user>@<host>:/var/www/html/<location>/<of>/<branch>
