binaries/
*.deb
*.build
*.buildinfo
*.dsc
*_amd64.changes
acbuild-bin-*.tgz
go-bin-*.tgz
*.orig.tar.xz

homeworld-services_*.tar.gz
homeworld-etcd_*.tar.gz
homeworld-flannel_*.tar.gz
homeworld-hyperkube_*.tar.gz
homeworld-rkt_*.tar.gz
homeworld-apt-setup_*.tar.gz
homeworld-bootstrap-registry_*.tar.gz
homeworld-keysystem_*.tar.gz
homeworld-admin-tools_*.tar.gz
homeworld-prometheus_*.tar.gz
homeworld-prometheus-node-exporter_*.tar.gz
homeworld-etcd-metrics-exporter_*.tar.gz
homeworld-auth-monitor_*.tar.gz
