binaries/
*.deb
*.build
*.buildinfo
*.dsc
*_amd64.changes
acbuild-bin-*.tgz
go-bin-*.tgz

homeworld-services_*.tar.gz
homeworld-etcd_*.tar.gz
homeworld-flannel_*.tar.gz
homeworld-hyperkube_*.tar.gz
homeworld-rkt_*.tar.gz
homeworld-apt-setup_*.tar.gz
homeworld-bootstrap-registry_*.tar.gz

homeworld-etcd_3.1.7.orig.tar.xz
homeworld-flannel_*.orig.tar.xz
homeworld-hyperkube_*.orig.tar.xz
homeworld-rkt_1.27.0.orig.tar.xz
homeworld-keysystem_*.tar.gz
