[Unit]
Description=Hyades Kubernetes Controller Manager
Requires=network-online.target
After=network-online.target kubelet.service

[Service]
ExecStart=/usr/bin/kube-launch controller-manager
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
