[Unit]
Description=Hyades Kubelet service
Requires=network-online.target crio.service
After=network-online.target crio.service

[Service]
ExecStart=/usr/lib/hyades/launch-kubelet.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
