[Unit]
Description=Hyades Kubernetes proxy
Requires=network-online.target
After=network-online.target kubelet.service

[Service]
ExecStart=/usr/bin/kube-launch proxy
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
