[Unit]
Description=Hyades Kubelet service
Requires=network-online.target crio.service
After=network-online.target crio.service

[Service]
ExecStart=/usr/bin/kube-launch kubelet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
