[Unit]
Description=homeworld autostart script
Requisite=keyclient.service
After=keyclient.service update-host.service

[Service]
Type=oneshot
ExecStart=/usr/lib/hyades/launch-autostart.sh
Restart=no

[Install]
WantedBy=multi-user.target

