[Unit]
Description=homeworld keyclient configuration update
Requisite=keyclient.service
After=keyclient.service

[Service]
Type=oneshot
ExecStart=/usr/lib/hyades/launch-keyclient-config-update.sh
Restart=no

[Install]
WantedBy=multi-user.target
