Source: homeworld-keysystem
Section: misc
Priority: extra
Maintainer: Cel Skeggs <cela@mit.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/sipb/homeworld.git
Vcs-Browser: https://github.com/sipb/homeworld/

Package: homeworld-keysystem
Architecture: amd64
Depends: homeworld-knc
Description: Homeworld keysystem package.
 This package is used for code deployment to Homeworld clusters.
